<app-header></app-header>

<div id="defectslatex">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>SUSTAINABLE HARVESTING OF LATEX</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img style="width: 100%;" src="assets/natural_latex/defects/1.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img style="width: 100%;" src="assets/natural_latex/defects/2.jpg">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="mt-4">
                        <span>
                            <span style="font-weight: bold;"> Protein Allergies: </span> Natural latex contains proteins that can trigger allergic reactions in
                            some
                            individuals. Latex allergies range from mild skin irritation to severe allergic reactions,
                            including anaphylaxis.
                        </span>

                    </div>

                    <div class="mt-4">
                        <span>
                            <span style="font-weight: bold;">  Vulcanization Issues: </span> During the processing of natural latex, vulcanization is often used to
                            improve its strength and elasticity. Improper vulcanization can lead to defects such as
                            insufficient curing, which may result in weakened or brittle latex products.
                        </span>

                    </div>

                    <div class="mt-4">
                        <span>
                            <span style="font-weight: bold;">  Latex Odor: </span> latex can emit a distinct odor, which might be unpleasant to some
                            people.
                            The smell is caused by the compounds present in latex and might persist in products made
                            from
                            it.
                        </span>

                    </div>

                    <div class="mt-4">
                        <span>
                            <span style="font-weight: bold;">   Poor Heat Resistance: </span> latex has relatively lower heat resistance compared to
                            synthetic
                            materials. This can cause deformation or softening of latex-based products when exposed to
                            high
                            temperatures for extended periods.
                        </span>

                    </div>

                    <div class="mt-4">
                        <span>
                            <span style="font-weight: bold;"> Sensitivity to Light and Oxygen: </span> latex is sensitive to both light and oxygen,
                            which
                            can lead to degradation or discoloration over time. This sensitivity might affect the
                            appearance
                            and durability of latex products.</span>

                    </div>

                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

            </div>

        </div>

    </div>

</div>

<app-footer></app-footer>