
<app-header></app-header>


<div id="home">

    <div class="row"  #details2>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-videoplayer></app-videoplayer>
        </div>
          <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <img style="width: 100%;" src="assets/mattressandtoppers/m&t/5.png">
        </div> -->
    </div>



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;padding-top: 100px;">
        <span class="quotescss">A good mattress can make all the difference in how your body feels when you wake
            up</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2" style="text-align: center;">
        <span class="quotescss1">Better Sleep Through Better Design</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2" style="text-align: center;">
        <span class="quotescss2">Sleep Better with a Latex Mattress in India</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2" style="text-align: center;margin-bottom: 70px;">
        <span class="quotescss3"> Complete Your Sleep Set</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span class="haeding1" id="greenText">MATTRESSES & TOPPERS</span>
                

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                        <div><img class="dropmdownimage1" src="assets/mattressandtoppers/5.jpg" (click)="ZM()"
                            matTooltip="Click and view zoned mattress details"></div>
                        <div ><span class="haeding2">ZONED MATTRESS</span></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                        <div><img class="dropmdownimage1" src="assets/mattressandtoppers/medical/1.jpg" (click)="MM()"
                            matTooltip="Click and view medical mattress details"></div>
                        <div ><span class="haeding2">MEDICAL MATTRESS</span></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                        <div><img class="dropmdownimage1" src="assets/mattressandtoppers/embossed/1.jpg" (click)="EM()"
                            matTooltip="Click and view empossed mattress details"></div>
                        <div ><span class="haeding2">EMBOSSED MATTRESS</span></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                        <div><img class="dropmdownimage1" src="assets/mattressandtoppers/m&t/4.jpg" (click)="MT()"
                            matTooltip="Click and view mattress toppers details"></div>
                        <div ><span class="haeding2">MATTRESS TOPPERS</span></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                        <div><img class="dropmdownimage1" src="assets/mattressandtoppers/temp/3.jpg" (click)="TCM()"
                            matTooltip="Click and view temperature controlled mattress details"></div>
                        <div ><span class="haeding2">TEMPERATURE CONTROLED MATTRESS</span></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span class="haeding1" id="greenText">BEDDING</span>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                       
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div><img class="dropmdownimage1" src="assets/images/bed.jpg" (click)="bed()"
                            matTooltip="Click and view bedding details"></div>
                        <div ><span class="haeding2">BEDDING</span></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                       
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3" style="text-align: center;">
        <span class="haeding1" id="greenText" >FABRIC</span>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn" matTooltip="Click to View details">
                        <img style="width: 100%;height:100%;" [routerLink]="[ '/latex',1]" src="assets/images/fb_1.png">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="Click to View details">
                        <img style="width: 100%;height:100%;" [routerLink]="[ '/latex',2]" src="assets/images/fb_2.png">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn" matTooltip="Click to View details" >
                        <img style="width: 100%;height:100%;" [routerLink]="[ '/latex',3]" src="assets/images/fb_3.png" >
                    </div>



                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn " matTooltip="devlopment inprogress" >
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',4]" src="assets/images/fb_4.png">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn " matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',5]" src="assets/images/fb_5.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',6]" src="assets/images/fb_6.png" matTooltip="devlopment inprogress">
                    </div>
                </div>

             

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <div class="row">
                    

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',7]" src="assets/images/fb_7.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress"> 
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',8]" src="assets/images/fb_8.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',9]" src="assets/images/fb_9.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',10]" src="assets/images/fb_10.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress"> 
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',11]" src="assets/images/fb_11.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',12]" src="assets/images/fb_12.png" matTooltip="devlopment inprogress">
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="text-align: center;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',13]" src="assets/images/fb_13.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',14]" src="assets/images/fb_14.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress"> 
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',15]" src="assets/images/fb_15.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn "  matTooltip="devlopment inprogress">
                        <img class="display12" style="width: 100%;height:100%;" [routerLink]="[ '/latex',16]" src="assets/images/fb_16.png" matTooltip="devlopment inprogress">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>




    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;
        margin-bottom: 100px;">
            <img src="assets/images/123.png" />
        </div>
    </div>


    <!---------------- Table --------------------->

    <div style="margin-bottom:100px;">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 38px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor">
                            <span>VEDHA</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-1 othercompare" style="font-weight: bold;">
                            <span>Other latex Companies</span>
                        </div>
                        <hr class="line">


                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 51px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heading">
                            <span>Manufacturing</span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor2">
                            <span>100 % Manufatured In India</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-1 othercompare" style="font-size: 15px;">
                            <span>Mostly Imported From Europe and South East Asian Countries.</span>
                        </div>

                        <hr class="line">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 51px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heading">
                            <span>Latex Type</span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor2">
                            <span>100 % Natural</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-3 othercompare" style="font-size: 15px;">
                            <span>Mixed</span>
                        </div>
                        <hr class="line">

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 51px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heading">
                            <span>Firmness</span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor2">
                            <span>Multiple Firmness Option Available</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-3 othercompare" style="font-size: 15px;">
                            <span>Single(Either too Firm or Too Soft)</span>
                        </div>

                        <hr class="line">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 51px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heading">
                            <span>Environment Friendly</span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor2">
                            <span>Positive</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-3 othercompare" style="font-size: 15px;">
                            <span>Negative</span>
                        </div>
                        <hr class="line">

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 51px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heading">
                            <span>Review</span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor2">
                            <span>Actual Review via Trustpiilot</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-3 othercompare" style="font-size: 15px;">
                            <span>In-House with Unknown Source</span>
                        </div>

                        <hr class="line">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 51px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="font-size: 17px;">
                    <div class="row">


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heading">
                            <span>Warranty</span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 tablecolor3">
                            <span>10 Years (Life above 15 years)</span>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-3 othercompare" style="font-size: 15px;">
                            <span>8 Years (Life 5 to 8 Years)</span>
                        </div>


                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>


            </div>
        </div>

    </div>

    <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12" vertical="bottom" horizontal="end" edge slot="fixed"  
            style="position: fixed;bottom: 16px;left: 93%;cursor: pointer;">
            <img (click)="movetotop()" src="assets/images/1.png" matTooltip="MoveTop">
        </span>

</div>

<app-footer></app-footer>