<app-header></app-header>

<div id="harvesting">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
    <span>SUSTAINABLE HARVESTING OF LATEX</span>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 20px;">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="assets/natural_latex/harvestings/1.png" style="width: 100%;">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pt-3">
                    <div class="mt-4">
                        <span>
                            Implementing a tapping cycle that allows trees sufficient time to recover between
                            harvests is
                            crucial. Over-tapping or tapping too frequently can weaken trees and reduce latex yield.
                            A
                            well-managed rotation cycle ensures that trees have time to regenerate latex and
                            replenish their
                            resources.
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 20px;">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pt-3">
                    <div class="mt-4">
                        <span>
                            Training tappers to use appropriate tapping techniques can minimize damage to the trees.
                            This
                            involves making careful incisions in the bark to access latex without harming the tree's
                            health.
                            Using sharp knives and following recommended tapping patterns helps maintain tree
                            integrity.
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="assets/natural_latex/harvestings/2.jpg" style="width: 100%;">
                </div>



                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>
            </div>

        </div>


        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 20px;">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="assets/natural_latex/harvestings/3.jpg" style="width: 100%;">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pt-3">
                    <div class="mt-4">
                        <span>
                            Regular monitoring of tree health, latex flow, and overall plantation conditions is
                            vital. This
                            allows for timely intervention if any issues arise, such as diseases, pest infestations,
                            or
                            environmental stressors that could affect latex production.
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 50px;">
    <div class="row">


        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>


        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="row">


                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pt-3">
                    <div class="mt-4">
                        <span>
                            Maintaining biodiversity within rubber plantations by preserving natural habitats,
                            protecting
                            wildlife corridors, and planting diverse tree species alongside rubber trees can enhance
                            ecosystem health and resilience.
                        </span>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="assets/natural_latex/harvestings/4.jpg" style="width: 100%;">
                </div>



                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>


    </div>
</div>

</div>

<app-footer></app-footer>