<app-header></app-header>

<div id="benifits">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
    <span>BENEFITS OF 100% NATURAL LATEX</span>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 image mt-4">
    <img src="assets/natural_latex/benifits/Front.png" style="width: 28%;">
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <img class="roundiamge" src="assets/natural_latex/benifits/1.png">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentsize">
                    <div>
                        <span class="steps">SAFE</span>
                    </div>
                    <div class="mt-1">
                        <span>Natural Latex originates from the natural sap of rubber trees, a gift from Mother
                            Nature herself. At Theptex, your health is our top priority, and we stand firm in our
                            commitment to never compromise it—never. We strictly avoid mixing in inferior synthetic
                            rubber (SBR) or any potentially harmful substances that could emit toxic fumes. Your
                            safety and well-being are non-negotiable for us</span>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <img class="roundiamge" src="assets/natural_latex/benifits/2.png">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentsize">
                    <div>
                        <span class="steps">HEALTH</span>
                    </div>
                    <div  class="mt-1">
                        <span>The natural latex extracted from rubber trees possesses inherent antibacterial
                            properties, which are seamlessly integrated into our natural latex mattresses.
                            Additionally, latex sap's innate characteristics include resistance to dust mites</span>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <img class="roundiamge" src="assets/natural_latex/benifits/3.png">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentsize">
                    <div>
                        <span class="steps">BENEFITS OF PURE NATURAL LATEX</span>
                    </div>
                    <div  class="mt-1">
                        <span>Harvesting latex from rubber trees doesn't harm the tree, allowing it to sustainably
                            absorb carbon dioxide for years. By using latex in mattresses, we contribute to reducing
                            waste mountains globally. Furthermore, latex mattresses boast superior durability
                            compared to other variants, and when they reach the end of their lifespan, they
                            completely biodegrade, minimizing environmental impact.</span>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <img class="roundiamge" src="assets/natural_latex/benifits/4.png">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentsize">
                    <div>
                        <span class="steps">SPINE ALIGNMENT</span>
                    </div>
                    <div  class="mt-1">
                        <span>The distinct, non-linear compression pattern of a rubber cell causes areas with more
                            weight from the body to gently sink into the mattress, while the lighter regions
                            continue to receive support. This results in an ideal spine alignment, alleviating
                            discomfort and enhancing blood flow circulation.</span>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentsize">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <img class="roundiamge" src="assets/natural_latex/benifits/5.png">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contentsize">
                    <div>
                        <span class="steps">RESPIRABLE</span>
                    </div>
                    <div  class="mt-1">
                        <span>Latex mattresses boast a naturally Respirable, open-cell structure that facilitates
                            excellent airflow, effectively maintaining a dry sleeping environment. This unique
                            feature, coupled with latex's antimicrobial properties, ensures these mattresses remain
                            mold and mildew-free, promoting a cooler and more hygienic sleeping experience.</span>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 50px;">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <img class="roundiamge" src="assets/natural_latex/benifits/6.png">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pt-3 contentsize">
                    <div>
                        <span class="steps">REDUCED MOTION TRANSMISSION</span>
                    </div>
                    <div  class="mt-1">
                        <span>Latex's inherent resilience ensures that motion on one side of the mattress doesn't
                            readily transfer to the opposite side due to its natural properties.</span>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>

    </div>
</div>

</div>
<app-footer></app-footer>