<app-header></app-header>
<div id="socialresponce">

    <!-- <span [ngStyle]="{'background-image':'url(assets/abouts/bg.jpg)', display: 'block'}"> -->

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>SOCIAL RESPONSIBILITY</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width: auto;">
                <img src="assets/abouts/s_reponce1.jpg">
                <img src="assets/abouts/s_reponce2.jpg">
                <img src="assets/abouts/s_reponce3.jpg">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

        </div>


    </div>



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <span>Vedha is dedicated to improving environmental sustainability and enhancing the welfare of our
                    employees, customers, and the broader community.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <span>Our commitment to our employees extends beyond their professional endeavors—we also prioritize
                    their personal well-being. We ensure that they receive living wages and have access to comprehensive
                    medical coverage.

                </span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1" style="margin-bottom: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <span>Numerous migrant workers from neighboring regions seek opportunities in our region due to its
                    attractiveness. Unfortunately, many of these individuals lack legal documentation, leaving them
                    susceptible to exploitation and mistreatment. Vedha plays a crucial role in facilitating the legal
                    documentation of these migrant workers upon their employment, thereby ensuring they are treated
                    fairly and receive appropriate compensation.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            </div>

        </div>
    </div>

    <!-- </span> -->



</div>


<app-footer></app-footer>