<app-header></app-header>



<div id="sustainability">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>SUSTAINABILITY</span>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 20px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="assets/abouts/sustain.jpg" style="width: 100%;">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="mt-4">
                    <span>
                        Today the sustainability revolution is accelerating faster than expected, driven by demand from
                        both consumers and investors (i.e. Environmental, Social, and Governance/ESG rating).
                    </span>
                </div>

                <div class="mt-4">
                    <span>
                        Our company’s foundation is built on making a good product. Good in the sense that when
                        producing and consuming, it doesn’t cause harm to individuals (our employees, customers,
                        partners and their families), nor to our community or the world we live in.
                    </span>

                </div>

                <div class="mt-4">
                    <span>
                        Sustainability content marketing refers to the strategic approach of creating and sharing
                        valuable,
                        relevant, and consistent content that communicates a company's commitment to sustainability,
                        social
                        responsibility, and ethical practices.</span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

            </div>

        </div>
    </div>

    <main class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    1. An Environmentally Friendly Production Process
                                </mat-panel-title>
                                <mat-panel-description>

                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 20px;">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <img src="assets/abouts/acc_clean.jpg" style="width: 100%;">
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pt-3">
                                        <div class="mt-4">
                                            <span>
                                                Vedha produces latex foam using the traditional Dunlop process. This
                                                process is less intensive and involves fewer steps compared to the
                                                Talalay process, and hence lowers our environmental footprint.
                                            </span>
                                        </div>

                                        <div class="mt-4">
                                            <span>
                                                Dunlop latex is denser and more resilient than Talalay latex foam. Our
                                                in-house test lab also selects only the highest quality of latex milk
                                                for improved durability hence prolonging the life cycle of the mattress
                                                even more.
                                            </span>

                                        </div>

                                        <div class="mt-4">
                                            <span>
                                                As a result, Vedha mattresses can last up to 20 years, which is much
                                                longer than any other mattress, and helps to protect the world’s natural
                                                resources.</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    2. Wastewater treatment and stream reclamation
                                </mat-panel-title>
                                <mat-panel-description>

                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-4">
                                        <img src="assets/abouts/acc_clean3.jpg" style="width: 100%;">

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-5">
                                        <div class="mt-4">
                                            <span>Treatment of wastewater to enable re-use - this might involve
                                                non-potable direct, indirect reuse or irrigation of agricultural or
                                                municipal land holdings, and dependent on site, and proximity and
                                                effluent quality. Biosolids management to enable beneficial use of final
                                                product.
                                            </span>
                                        </div>

                                        <div class="mt-4">
                                            <span>The major aim of wastewater treatment is to remove as much of the
                                                suspended solids as possible before the remaining water, called
                                                effluent, is discharged back to the environment. As solid material
                                                decays, it uses up oxygen, which is needed by the plants and animals
                                                living in the water</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    3. Long-lasting items diminish waste.
                                </mat-panel-title>
                                <mat-panel-description>

                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3">
                                        <img src="assets/abouts/acc_clean2.jpg" style="width: 81%;">
                                    </div>


                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-5">
                                        <div class="mt-4">
                                            <span>latex waste can be divided into two categories, liquid waste latex and
                                                solid
                                                waste latex.
                                                Liquid waste latex is the unused or expired latex from compounded and
                                                raw latex,
                                                while
                                                solid was usually come from rejected products or consumer used
                                                products</span>
                                        </div>

                                        <div class="mt-4">
                                            <span>These pieces can be used in the production of new latex products,
                                                mixed with
                                                other materials to create composite products, or transformed into other
                                                rubber-based materials such as rubberized asphalt or playground
                                                surfaces.
                                                Additionally, latex scrap rubber can be repurposed for various creative
                                                or
                                                functional uses.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    4. Recycle latex foam waste
                                </mat-panel-title>
                                <mat-panel-description>

                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mt-3">
                                            <img src="assets/abouts/acc_clean4_inside_1.jpg" style="width: 100%;">
                                        </div>

                                        <div class="mt-3">
                                            <span>Foam waste needs separating and sending to an appropriate recycling
                                                facility where it's sorted and any recyclable foam will be
                                                processed.</span>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mt-3">
                                            <img src="assets/abouts/acc_clean4_inside_2.jpg"
                                                style="width: 100%;height: 255px">
                                        </div>

                                        <div class="mt-3">
                                            <span>Latex is biodegradable and can be processed into new products. Saves
                                                Space: Mattresses take up a lot of space in landfills. Community
                                                Benefits: Recycled latex is often used to make carpet padding, building
                                                insulation, and even pet bedding.</span>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mt-3">
                                            <img src="assets/abouts/acc_clean4_inside_3.jpeg"
                                                style="width: 100%;height: 255px">
                                        </div>

                                        <div class="mt-3">
                                            <span>LaTeX can even be used to draw diagrams. A number of common items are
                                                difficult or impossible to type on a keyboard, but are simple to produce
                                                using LaTeX. They include fractions, subscripts, superscripts, matrices,
                                                partial derivatives, and integrals.</span>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

            </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 50px;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    5.Factory waste handling and reuse
                                </mat-panel-title>
                                <mat-panel-description>

                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3">
                                        <img src="assets/abouts/acc_clean5.jpeg" style="width: 81%;">
                                    </div>


                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mt-4">
                                            <span>No Bagged Recyclables. If you collect your recyclables in a bag, empty
                                                them directly into your cart and reuse the bag!</span>
                                        </div>

                                        <div class="mt-3">
                                            <span>Breaking the Waste Down,Burn It to Make it! and Hot Treatment.</span>
                                        </div>

                                        <div class="mt-3">
                                            <span>Factory waste is any waste produced from industrial activities, such
                                                as manufacturing. This can include everything from by-products created
                                                during manufacturing processes, to simply packaging waste from boxes and
                                                wrapping of goods.
                                            </span>
                                        </div>

                                        <div class="mt-3">
                                            <span>Transport, Inventory, Motion, Waiting, Overproduction, Overprocessing and Defects</span>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>

            </div>
        </div>


    </main>



</div>

<app-footer></app-footer>