<app-header></app-header>
<div id="organiclatex">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>ORGANIC LATEX PLANTATIONS</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 image mt-3">
        <img style="width: 78%;" src="assets/abouts/organic.jpg">
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>Hence the project became a sort of a Corporate Social Responsibility venture that helped the
                    rubber farmers and their families in adverse times of low rubber prices.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>While synthetic latex is manufactured using petroleum-based products (which are not
                    biodegradable), both organic and natural latex come from rubber trees. While synthetic latex is
                    manufactured using petroleum-based products (which are not biodegradable), both organic and natural
                    latex come from rubber trees.

                </span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1" style="margin-bottom: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>Latex lives just beneath the bark of these rubber trees. When tappers peel back the bark, they
                    disrupt the plant ducts to reveal latex, a milky white substance. From there, they can harvest the
                    latex and send it off to be processed.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>





</div>


<app-footer></app-footer>