#ourlatex {

    .haeding {
        text-align: center;
        color: #375c5c;
        font-weight: bold;
        font-size: 35px;
    }

    .heading1 {

        font-weight: bold;
        font-size: 19px;
        
    }

}