<app-header></app-header>



<div id="fabric">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>{{this.dataform.main[0].name}}</span>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4" style="margin-bottom: 20px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heightset" *ngIf="this.dataform" >
                <img [src]="this.dataform.main[0].image1" style="width: 100%;height: 100%;">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 heightset" *ngIf="this.dataform">

                <img [src]="this.dataform.main[0].image2" style="width: 100%;height: 100%;">
                <!-- <div class="mt-4">
                    <span>
                        Today the sustainability revolution is accelerating faster than expected, driven by demand from
                        both consumers and investors (i.e. Environmental, Social, and Governance/ESG rating).
                    </span>
                </div>

                <div class="mt-4">
                    <span>
                        Our company’s foundation is built on making a good product. Good in the sense that when
                        producing and consuming, it doesn’t cause harm to individuals (our employees, customers,
                        partners and their families), nor to our community or the world we live in.
                    </span>

                </div>

                <div class="mt-4">
                    <span>
                        Sustainability content marketing refers to the strategic approach of creating and sharing
                        valuable,
                        relevant, and consistent content that communicates a company's commitment to sustainability,
                        social
                        responsibility, and ethical practices.</span>
                </div> -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="text-align: center;">
                <a download href="{{ this.dataform.main[0].file }}"><mat-icon class="dwnlicon" matTooltip="Click to Download PDF file">cloud_download</mat-icon></a>
                <!-- <a download href="https://wa.me/6383653316">Download</a> -->
            </div>

        </div>

     
    </div>

    <div class="row" style="margin-bottom: 20px;">


            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 "  >
                <div class="row smallrowss">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 smallimg " *ngFor="let data of dataform.small" >
                        <img class="btn" [src]="data.image" matTooltip="Click on any fabric to see a detailed" (click)="dialogu(data.imageb)">
                        <div class="labelbox btn" matTooltip="Click on any fabric to see a detailed"><label (click)="dialogu(data.imageb)" style="cursor: pointer;">{{data.name}}</label></div>
                    </div>

                </div>


               
            </div>

          

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">

            </div>

 

     
    </div>

</div>

<app-footer></app-footer>