<app-header></app-header>
<div id="productprocess">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>OUR PRODUCTION PROCESS</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 image mt-3">
        <img src="assets/abouts/acc_clean4.jpg" style="width: 28%;">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content mt-4">
        <span>Dunlop latex and Talalay latex are two different processes used to make latex foam.</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1" style="margin-bottom: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>Vedha’ cores are produced using the Dunlop process because it creates more firm, dense,
                    energy-efficient, long-lasting and supportive latex.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/milk_harvesting.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div>
                            <span class="steps">Step 1: Harvesting latex milk</span>
                        </div>
                        <div>
                            <span>Latex is harvested from the trees by slitting the bark and allowing the milky latex to
                                seep out for collection, a process similar to that used to tap maple trees for sap.
                                After tapping, chemicals are added to keep the latex from stiffening up.</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/testing_milk.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-top: 4px;">
                        <div>
                            <span class="steps">Step 2: Testing latex milk</span>
                        </div>
                        <div>
                            <span>Measurement of quantity in volume or weight. The organoleptic characteristics of milk
                                should be distinguished – appearance, taste, and smell. Compositional characteristics
                                should be tested – fat, solid, and protein content</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/mixed.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div>
                            <span class="steps">Step 3: Filling the mould</span>
                        </div>
                        <div>
                            <span>First of all you need to make some kind of a stand to support the latex mould when it
                                is full of liquid plaster. The best way is to draw round the mould on a piece of
                                cardboard. Cut out the shape to leave a hole in the card. Position the mould into the
                                hole (the mould should now be upside down).</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/clean.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-top: 12px;">
                        <div>
                            <span class="steps">Step 4: Washing latex core</span>
                        </div>
                        <div>
                            <span> Latex should exclusively be hand washed in the sink or bathtub. Use lukewarm water
                                and add a bit of latex-qualified detergent. After that, rinse your clothes with clear
                                water.</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/dry.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"  style="padding-top: 12px;">
                        <div>
                            <span class="steps">Step 5: Drying latex core</span>
                        </div>
                        <div>
                            <span> Dried latex from the opium poppy is called opium, the source of several useful
                                analgesic alkaloids such as codeine, thebaine, and morphin.</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/quality.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-top: 12px;">
                        <div>
                            <span class="steps">Step 6: Quality Control</span>
                        </div>
                        <div>
                            <span> Set your quality standards,Decide which quality standards to focus, Create
                                operational processes to deliver quality,Review your results,Get feedback and Make
                                improvements.</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5" style="margin-bottom: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <img class="roundiamge" src="assets/abouts/store.jpg">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-top: 12px;">
                        <div>
                            <span class="steps">Step 7: Storage</span>
                        </div>
                        <div>
                            <span>Rock your latex or safely store your latex in tissue paper or plastic garment bag in
                                dark wardrobe for next time! Please keep your garment shined while storing to avoid
                                latex damage.</span>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>





</div> 


<app-footer></app-footer>