<app-header></app-header>
<div id="vedha">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 haeding">
        <span>VEDHA</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 image mt-3">
        <img src="assets/abouts/thepteasaga.jpg">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content mt-4">
        <span>Thai spirit house on Vedha spotness premises keeps the factory and employees safe.</span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>When Rama was crowned King of Ayodhya he was in constant fear of being attacked by Ravana and his
                    army of
                    demons. This was keeping him awake at night.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>His favorite queen Sita understood his worries and asked her most trusted Advisor what to do. The
                    Advisor
                    got a dream from the angels telling him to make a mattress with natural latex as the qualities are
                    remarkable. Eight years long the Advisor worked on a production process to make a latex mattress and
                    the
                    result was divine. The King got his sleep back, ruled wise and became the founder of the divine
                    dynasty.
                    Much alike the silk production secret of China, several colonial industrialists tried to divulge the
                    secret
                    but failed.

                </span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>Until today, Vedha guards the secrets of this procedé which it got from the Advisor and the
                    angels
                    before he passed away. The secret is passed on from generation upon generation. There was one
                    condition, the
                    mattresses had to stay divine and NO concessions would ever be made in regard to quality.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4 content1" style="margin-bottom: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <span>No mattress in the world can surpass the qualities of these 100% divine natural latex
                    mattresses.</span>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

        </div>
    </div>
  


</div>

<app-footer></app-footer>