#vedha {


    .haeding {
        text-align: center;
        color: #375c5c;
        font-weight: bold;
        font-size: 35px;
    }

    .image {
        text-align: center;

    }

    .content {
        text-align: center;
        font-size: 17px;
    }

    .content1 {
        font-size: 17px;
    }

    .steps{
        font-size: 22px;
        font-weight: bold;
        color: #375c5c;
    }

    .roundiamge{
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0px;
        height: 110px;
        width: 118px;
        border-radius: 99px 99px 99px 99px;
    }

    .contentsize{
        font-size: 13px;
    }

}