<mat-card style="background-color: #c8c295;" >
  <!-- <div class="row "> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <video #myVideo autoplay muted loop controls >
        <source src="assets/videos/Latex Mattress.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div> -->

  <div class="video-container wavy-border ">
    <!-- <video autoplay muted loop>
      <source src="assets/videos/Latex Mattress1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> -->
    <img style="width: 100%;" [src]="imagePaths[currentIndex]">
</div>
  
    
    <div class="content">
  
      <div class="row"> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
          <h2 class="name">VEDHA MATTRESSES</h2></div></div>
    
      <div class="row">    <p style="color: #000;">Natural Mattress is a natural, non toxic mattress, providing you 100% luxurious comfort</p>
      </div>
      
   
      <!-- <button (click)="togglePlayPause()">Toggle Play/Pause</button> -->
    </div>
</mat-card>

<div id="wave"></div>
