<div id="footer">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chartbackg">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 settingtocenter">

                <div class="footerinfo pt-3">
                    <span>
                        MANUFACTURED & PACKED BY:
                    </span>
                </div>

                <div class="footerinfo pt-3">
                    <span>
                        6/373 V-1 Pattatharasi Amman Kovil 2nd Street,
                    </span>
                </div>

                <div class="footerinfo pt-3">
                    <span>
                        Kalingarayan Palayam, Bhavani - 638 301, Tamilnadu
                    </span>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pt-3" style="width: auto;">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-1 contacticonset1">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contactinfo">
                            +91 98946 67222
                        </div>

                    </div>


                </div>


                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pt-3" style="width: auto;">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-1 contacticonset1">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contactinfo">
                          
                            <a style="color: #375c5c;" href="mailto:vedhafabricsbvn@gmail.com">vedhafabricsbvn@gmail.com</a>
                        </div>

                    </div>


                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 vl">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="padding: 47px 30px;">

                <div class="footerinfo pt-3">
                    <span>SUBSCRIBE TO OUR NEWSLETTER</span>
                </div>

                <div class="footerinfo pt-3">
                    <span>Don't worry, we won't spam you!</span>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-4" style="width: auto;">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                            <a href="https://wa.me/9894667222" target="_blank">
                                <img class="icons" src="assets/footer/watsapp.png" alt="WhatsApp">
                              </a>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn" style="margin-top: -5px;">
                            <a href="https://www.facebook.com/profile.php?id=100090567373745&mibextid=ZbWKwL" target="_blank">
                                <img style="width: 67px;" src="assets/footer/facebook.png" alt="Facebook">
                              </a>                              
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn" style="margin-top: -5px;">
                            <a href="https://twitter.com/YourTwitterHandle" target="_blank">
                            <img style="width: 67px;" src="assets/footer/twitter.png">
                        </a>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                            <a href="https://www.instagram.com/vedha_mattress?igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img class="icons" src="assets/footer/insta.png">
                            </a>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn">
                            <a href="https://www.youtube.com/YourYouTubeChannel" target="_blank">
                            <img class="icons" src="assets/footer/youtube.png">
                        </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>