#footer {


    .chartbackg {
        background: #c9c296 0% 0% no-repeat padding-box;
        box-shadow: 0px 30px 80px #eeeaea;
        opacity: 1;
        margin-bottom: 10px;
    }

    .contacticonset1 {
        width: auto;
        margin-left: 2px;
        font-size: 15px;
        color: #375c5c;
    }

    .contactinfo {
        font-size: 14px;
        width: auto;
        margin-top: 2px;
        color: #375c5c;
        margin-left: -16px;
        font-weight: bold;
        padding-top: 2px;
    }

    .settingtocenter {
        padding: 40px 75px 46px;
    }

    .footerinfo {
        color: #375c5c;
        font-weight: bold;
    }

    .vl {
        border-left: 2px solid #ffffff;
        height: 214px;
        margin-top: 38px;
        text-align: center;
        opacity: 1;
      }


      .icons{
            width: 56px;
      }

}